RemoteFileManager/Connected Services/FileServer/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileManagerService_GetRoots_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoots" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_GetRoots_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRootsResponse" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_GetDirectories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectories" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_GetDirectories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_GetFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiles" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_GetFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_GetFileInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileInfo" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_GetFileInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_GetDirectoryInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoryInfo" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_GetDirectoryInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoryInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_CopyFile_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyFile" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_CopyFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_MoveFile_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveFile" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_MoveFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_CreateDirectory_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDirectory" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_CreateDirectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_DeleteDirectory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDirectory" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_DeleteDirectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="IFileManagerService_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileManagerService">
    <wsdl:operation name="GetRoots">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileManagerService/GetRoots" message="tns:IFileManagerService_GetRoots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileManagerService/GetRootsResponse" message="tns:IFileManagerService_GetRoots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectories">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileManagerService/GetDirectories" message="tns:IFileManagerService_GetDirectories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileManagerService/GetDirectoriesResponse" message="tns:IFileManagerService_GetDirectories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileManagerService/GetFiles" message="tns:IFileManagerService_GetFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileManagerService/GetFilesResponse" message="tns:IFileManagerService_GetFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileManagerService/GetFileInfo" message="tns:IFileManagerService_GetFileInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileManagerService/GetFileInfoResponse" message="tns:IFileManagerService_GetFileInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectoryInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileManagerService/GetDirectoryInfo" message="tns:IFileManagerService_GetDirectoryInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileManagerService/GetDirectoryInfoResponse" message="tns:IFileManagerService_GetDirectoryInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopyFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileManagerService/CopyFile" message="tns:IFileManagerService_CopyFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileManagerService/CopyFileResponse" message="tns:IFileManagerService_CopyFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileManagerService/MoveFile" message="tns:IFileManagerService_MoveFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileManagerService/MoveFileResponse" message="tns:IFileManagerService_MoveFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileManagerService/DeleteFile" message="tns:IFileManagerService_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileManagerService/DeleteFileResponse" message="tns:IFileManagerService_DeleteFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDirectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileManagerService/CreateDirectory" message="tns:IFileManagerService_CreateDirectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileManagerService/CreateDirectoryResponse" message="tns:IFileManagerService_CreateDirectory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDirectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileManagerService/DeleteDirectory" message="tns:IFileManagerService_DeleteDirectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileManagerService/DeleteDirectoryResponse" message="tns:IFileManagerService_DeleteDirectory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileManagerService/Execute" message="tns:IFileManagerService_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileManagerService/ExecuteResponse" message="tns:IFileManagerService_Execute_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileManagerService" type="tns:IFileManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRoots">
      <soap:operation soapAction="http://tempuri.org/IFileManagerService/GetRoots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectories">
      <soap:operation soapAction="http://tempuri.org/IFileManagerService/GetDirectories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFiles">
      <soap:operation soapAction="http://tempuri.org/IFileManagerService/GetFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <soap:operation soapAction="http://tempuri.org/IFileManagerService/GetFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectoryInfo">
      <soap:operation soapAction="http://tempuri.org/IFileManagerService/GetDirectoryInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyFile">
      <soap:operation soapAction="http://tempuri.org/IFileManagerService/CopyFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveFile">
      <soap:operation soapAction="http://tempuri.org/IFileManagerService/MoveFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/IFileManagerService/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDirectory">
      <soap:operation soapAction="http://tempuri.org/IFileManagerService/CreateDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDirectory">
      <soap:operation soapAction="http://tempuri.org/IFileManagerService/DeleteDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/IFileManagerService/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileManagerService">
    <wsdl:port name="BasicHttpBinding_IFileManagerService" binding="tns:BasicHttpBinding_IFileManagerService">
      <soap:address location="http://localhost:8080/FileServer" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>